/* INDEX.HTML */

/* HEADER */

@media screen and (max-width: 991.98px) {
  /* INDEX.HTML */
  /* HEADER */
  header {
    padding: 15px 0;
    height: auto;
  }
  .header__content button {
    background-color: #dc4f72;
    border-radius: 5px;
  }
  .header__content button i {
    color: white;
  }
  #navbarCapstone .dropdown-menu {
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  }
  .navCap {
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 0;
  }
  #navbarCapstone .nav-item.dropdown a {
    text-align: center;
  }
  #navbarCapstone .btn-outline-primary {
    color: #dc4f72;
    border: 1px solid #dc4f72;
    background-color: transparent;
  }
  #navbarCapstone .btn-outline-primary:hover {
    color: white;
    background-color: #dc4f72;
    border: 1px solid #dc4f72;
  }
  .myCarousel img {
    display: block;
  }
  .product .product__img {
    width: 50vw;
  }
  .product .mobile__img {
    margin-left: 23%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product .product__item .mobile-right-icon {
    text-align: right;
  }
  footer .footer__bottom {
    display: block !important;
    text-align: center;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
  /* INDEX.HTML */
  /* SOLUTION */
  .solution .solution-col {
    margin-left: 25%;
  }
}

@media screen and (max-width: 800px) {
  .title .title--h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .featured .nav-item button.nav-link.active::after {
    left: -7px;
    width: 20vw;
  }
  .post__navigation .postview1,
  .post__navigation .postview2 {
    grid-template-columns: 100%;
    gap: 0;
  }
}

@media screen and (max-width: 667px) {
  .title .title--h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .feedback .item .feedback__content {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
  .feedback .item .feedback__left {
    margin: 0 auto;
  }
}

@media screen and (max-width: 429px) {
  .form-col form button {
    padding: 10px;
  }
}

@media screen and (max-width: 365.98px) {
  .community .container .respon-btn {
    padding: 5px 10px;
  }
}
