*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Nunito', sans-serif;
}

.title {
    max-width: 750px;
    margin: 0 auto;
}

.title--h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #dc4f72;
}

.title--h3{
    font-size: 46px;
    font-weight: 700;
    color: #2C3038;
}

.title--p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* HEADER */

header{
    background-color: white;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    transition: all 0.4s ease 0s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__content .navbar-header{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    color: #dc4f72;
}

#navbarCapstone .navCap .nav-item{
    padding: 0 15px;
}

#navbarCapstone .nav-link{
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}

#navbarCapstone .nav-link.active{
    color: #dc4f72;
}

#navbarCapstone .dropdown-icon{
    font-size: 12px;
    color: #2C3038;
    vertical-align:middle;
}

.btn-outline-primary{
    color: #dc4f72;
    border: 1px solid  #dc4f72;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #dc4f72;
    border: 1px solid  #dc4f72;
}

.btn-theme{
    padding: 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 52px;
    display: inline-block;
    transition: all 0.3 ease-out;
    max-width: 100%;
}

#navbarCapstone .nav-link::after{
    content: "";
    bottom: 13px;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    transition: width 0.5s ease;

}    

#navbarCapstone .nav-link:hover::after{
    width: 40%;
}

/* CAROUSEL */

.myCarousel{
    position: relative;
    margin-top: 90px;
}

.myCarousel__content{
    position: relative;
    z-index: 1;
    background: white;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top:5rem;
}

.col__left h3{
    font-size: 50px ;
    font-weight: 700;
    color: #2C3038;
}

.col__left p{
    color: #5a5a5a;
    font-size: 20px;
    font-weight: 400;
    max-width: 480px;
}

.col__right{
    transform: rotate(180deg);
}

/* CHOOOSEUS */

.chooseUs .block-col a{
    text-decoration: none;
}

.chooseUs .block-col h3{
    font-size: 26px;
    color: #2C3038;
    line-height: 35px;
    font-weight: 700;
}

.chooseUs .block-col p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    margin-top: 15px;
}

.block-col{
    padding: 15px;
    border-radius: 6px;
    padding: 3rem 2rem;
    background-color: #F7F9FC;
    border: 1px solid #F7F9FC;
    transition: 0.3s ease-in;
}

.block-col:hover{
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-8px);
}

/* ABOUT */

.about{
    background-color: #F7F9FC;
}

.btn-outline-success{
    background-color: #dc4f72;
    border: 1px solid #dc4f72;
    color: #fff;
}

.btn-outline-success:hover{
    color: #fff;
    background-color: #cf2952;
    border: 1px solid #cf2952;
}

.about img{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    border-radius: 6px;
}

.about img:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-8px);
}

/* NUMBER */

.number{
    background-color: #F7F9FC;
}

.number .number__item{
    background-color: #fff;
    padding:  22px;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.09) ;
}

.number__item h4{
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2C3038;
    font-weight: 700;
}

.number__item p:first-of-type{
    font-size: 50px;
    color: #dc4f72;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}    

.number__item p:last-of-type{
    color: #5a5a5a;
}

/* NEW */

.new{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/new.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 480px;
    padding: 2rem 0;
    display: grid;
    align-items: center;
}

.new .middle-section{
    max-width: 550px;
}

.new .new-text h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.new .new-list p{
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

/* SOLUTION */

.solution .solution-grid a{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.solution .solution-grid a img{
    filter: grayscale(1);
    transition: 0.3s ease-in-out;
}

.solution .solution-grid .date{
    font-size: 18px;
    color: white;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dc4f72;
}

.solution__content{
    background-color: white;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
}

.solution .solution-grid{
    border-radius: 6px;
    transition: 0.3s ease-in;
    display: block;

}

.solution .solution-infor{
    padding: 30px 20px;
}

.solution-infor .taglabel.red{
    background-color: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.solution-infor .taglabel.green{
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.solution-infor .taglabel.blue{
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.solution-infor .taglabel{
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.solution-infor h4 a{
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    color: #2C3038; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.solution .solution-infor p{
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.solution .solution-infor .btn-infor {
    color: #dc4f72;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.solution .solution-infor .btn-infor span{
    font-size: 11px;
    font-weight: 600;
    vertical-align: middle;
}

.solution__content:hover .solution-grid img{
    filter: grayscale(0);
}

.solution__content:hover{
    transform: translateY(-8px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09)  ;
}

.solution__content:hover .solution-infor h4 a{
    color: #dc4f72;
}

.solution__content:hover .solution-infor .btn-infor span i{
    transform: translateX(1px);
}