* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

.clear {
  clear: both;
}

.title {
  max-width: 750px;
  margin: 0 auto;
}

.title--h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #dc4f72;
}

.title--h3 {
  font-size: 46px;
  font-weight: 700;
  color: #2c3038;
}

.title--p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* HEADER */

header {
  background-color: white;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  transition: all 0.4s ease 0s;
  max-width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__content .navbar-header {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
}

#navbarCapstone .navCap .nav-item {
  padding: 0 15px;
}

#navbarCapstone .nav-link {
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  color: #2c3038;
}

#navbarCapstone .nav-link.active {
  color: #dc4f72;
}

#navbarCapstone .dropdown-icon {
  font-size: 12px;
  color: #2c3038;
  vertical-align: middle;
}

#navbarCapstone .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 59%;
  background-color: #fff;
  z-index: 101;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 14px;
  height: 14px;
  border-right: none;
  border-bottom: none;
  transform: translateX(-45px) rotateZ(45deg);
}

.btn-outline-primary {
  color: #dc4f72;
  border: 1px solid #dc4f72;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
}

.btn-theme {
  padding: 0 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 52px;
  display: inline-block;
  transition: all 0.3 ease-out;
  max-width: 100%;
}

#navbarCapstone .nav-link::after {
  content: "";
  bottom: 13px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #dc4f72;
  transition: width 0.5s ease;
}

#navbarCapstone .nav-link:hover::after {
  width: 40%;
}

/* BREADCRUMB */

.breadCrumb {
  margin-top: 90px;
  font-size: 14px;
  color: #2c3038;
  background-color: #f7f9fc;
  padding: 15px 20px;
}

.breadCrumb a {
  color: #dc4f72;
  margin-right: 5px;
  font-size: 14px;
}

.breadCrumb span {
  font-size: 10px;
  margin-top: 4px;
}

.breadCrumb .breadcrumb-item {
  font-size: 14px;
  color: #2c3038;
}

/* CAROUSEL */

.myCarousel {
  position: relative;
  margin-top: 90px;
}

.myCarousel__content {
  position: relative;
  z-index: 1;
  background: white;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/banner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 5rem;
}

.col__left h3 {
  font-size: 50px;
  font-weight: 700;
  color: #2c3038;
}

.col__left p {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 400;
  max-width: 480px;
}

.col__right {
  transform: rotate(180deg);
}

/* CHOOOSEUS */

.chooseUs .block-col a {
  text-decoration: none;
}

.chooseUs .block-col h3 {
  font-size: 26px;
  color: #2c3038;
  line-height: 35px;
  font-weight: 700;
}

.chooseUs .block-col p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24.5px;
  margin-top: 15px;
}

.block-col {
  padding: 15px;
  border-radius: 6px;
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  border: 1px solid #f7f9fc;
  transition: 0.3s ease-in;
}

.block-col:hover {
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-8px);
}

/* ABOUT */

.about {
  background-color: #f7f9fc;
}

.btn-outline-success {
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  color: #fff;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #cf2952;
  border: 1px solid #cf2952;
}

.animate__img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.animate__img:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-8px);
}

/* NUMBER */

.number {
  background-color: #f7f9fc;
}

.number .number__item {
  background-color: #fff;
  padding: 22px;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.number__item h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}

.number__item p:first-of-type {
  font-size: 50px;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.number__item p:last-of-type {
  color: #5a5a5a;
}

/* NEW */

.new {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../img/new.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 480px;
  padding: 2rem 0;
  display: grid;
  align-items: center;
}

.new .middle-section {
  max-width: 550px;
}

.new .new-text h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.new .new-list p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

/* SOLUTION */

.solution .solution-grid a {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.solution .solution-grid a img {
  filter: grayscale(1);
  transition: 0.3s ease-in-out;
}

.solution .solution-grid .date {
  font-size: 18px;
  color: white;
  font-weight: 700;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dc4f72;
}

.solution__content {
  background-color: white;
  border: 1px solid #eee;
  transition: all 0.3s ease-in;
}

.solution .solution-grid {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
}

.solution .solution-infor {
  padding: 30px 20px;
}

.taglabel.red {
  background-color: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

.taglabel.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.taglabel.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.taglabel {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.solution-infor h4 a {
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  color: #2c3038;
  text-decoration: none;
  transition: all 0.3s ease;
}

.solution .solution-infor p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.solution .solution-infor .btn-infor {
  color: #dc4f72;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.solution .solution-infor .btn-infor span {
  font-size: 11px;
  font-weight: 600;
  vertical-align: middle;
}

.solution__content:hover .solution-grid img {
  filter: grayscale(0);
}

.solution__content:hover {
  transform: translateY(-8px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.solution__content:hover .solution-infor h4 a {
  color: #dc4f72;
}

.solution__content:hover .solution-infor .btn-infor span i {
  transform: translateX(1px);
}

/* FAQ */

.faq {
  background-color: #f7f9fc;
}

.faq__left {
  position: sticky;
  top: 80px;
}

.faq__left img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.faq__left img:hover {
  transform: translateY(-8px);
}

.faq__right ul {
  list-style: none;
}

.faq .faq__content .faq__right ul li {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  padding: 25px 50px 15px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
}

.faq__content .faq__right input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.faq__content .faq__right input[type="checkbox"]:checked ~ p {
  opacity: 0;
  max-height: 0;
  margin-top: 0;
}

.faq .faq__content .faq__right i {
  position: absolute;
  right: 25px;
  top: 28px;
}

.faq .faq__content .faq__right h2 {
  font-size: 20px;
  cursor: pointer;
  color: #2c3038;
}

.faq .faq__content .faq__right p {
  color: #5a5a5a;
  position: relative;
  max-width: 800px;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  margin-top: 14px;
}

/* FEATURED */

.featured ul li {
  width: 33.3333%;
  float: left;
  font-size: 22px;
  color: #4e5b61;
  padding: 15px;
  cursor: pointer;
  border-bottom: 2px solid rgb(193, 193, 193);
}

.featured button {
  font-weight: 700;
}

.featured button.nav-link.active {
  margin: 0 auto;
  background-color: transparent;
  color: #dc4f72;
}

.featured button.nav-link.active {
  position: relative;
}

.featured button.nav-link.active::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #dc4f72;
  width: 320px;
  height: 2px;
  bottom: -17px;
  left: -90px;
}

.featured button.nav-link {
  margin: 0 auto;
  background-color: transparent;
}

/* FEEDBACK */

.feedback {
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(../img/feedbackbg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.feedback__content {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: 6px;
}

.feedback__left {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f3f6f9;
  border: 3px solid #dc4f72;
  overflow: hidden;
}

.feedback__left img {
  width: 100%;
  min-height: 100%;
}

.feedback__right {
  position: relative;
}

.feedback__right i {
  position: absolute;
  top: 0;
  left: -40px;
  right: 0;
  opacity: 0.2;
  color: #2c3038;
  font-size: 30px;
}

.feedback__right p {
  font-size: 18px;
  color: #2c3038;
}

.feedback__right-bot h4 {
  color: #dc4f72;
  font-size: 18px;
  font-weight: 400;
}

.feedback__right-bot p {
  color: #2c3038;
  font-size: 13px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 41px;
  height: 5px;
  margin: 5px 7px;
  background: #fff;
  display: block;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dc4f72;
}

/* COMMNUNITY */

.community h1 {
  font-size: 46px;
  color: #2c3038;
}

/* FOOTER */

footer {
  background-color: #f7f9fc;
}

.footer__top h3 {
  color: #2c3038;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__top ul {
  list-style: none;
}

.footer__top li {
  margin: 10px 0;
}

.footer__top li a {
  text-decoration: none;
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  transition: color 0.3s ease-in-out;
}

.footer__top li a:hover {
  color: #dc4f72;
}

.form-col {
  background-color: #fff;
  padding: 15px 20px;
}

.form-col h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.form-col input {
  padding: 12px 20px;
  background-color: #f7f9fc;
  border: none;
  outline: none;
  width: 78%;
  border-radius: 6px;
}

.form-col button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: rgb(255, 255, 255);
  border-radius: 6px;
}

.form-col p {
  font-size: 16px;
  line-height: 22px;
  color: #2c3038;
  margin-top: 20px;
}

.footer__bottom {
  border-top: 2px solid #eee;
}

.footer__bottom p a {
  color: #2c3038;
}

.footer__bottom a:hover {
  color: #dc4f72;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footer__bottom i:hover {
  color: #dc4f72;
  transition: 0.3s ease-in-out;
}

/* SERVICE */

.title h2 {
  font-size: 46px;
  color: #2c3038;
  line-height: 55px;
  font-weight: 800;
}

.service__left h3 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}

.service__left h5 {
  font-size: 24px;
  color: #999999;
}

.service__left p {
  font-size: 16px;
  color: #5a5a5a;
}

.service .icon {
  width: 80px;
  height: 80px;
  background-color: #f7f9fc;
  line-height: 80px;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  margin-bottom: 15px;
  text-align: center;
}

.service .icon img {
  vertical-align: middle;
}

.service h4 a {
  text-decoration: none;
  color: #2c3038;
  font-size: 20px;
  line-height: 24.5px;
  font-weight: 700;
}

.service h4 a:hover {
  color: #dc4f72;
  transition: 0.3s ease-in-out;
}

/* PRODUCT */

.product {
  background-color: #f7f9fc;
}

.product__item .product__icon span {
  font-size: 20px;
  color: #dc4f72;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.product__item h6 a {
  text-decoration: none;
  color: #2c3038;
  font-size: 18px;
  font-weight: 900;
  transition: all 0.3s ease-in;
}

.product__item h6 a:hover {
  color: #dc4f72;
}

.product__item p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 20.4px;
}

/* FEATURES SERVICE */

.features__content {
  border: 1px solid #eee;
}

.features__left,
.features__right {
  padding: 25px 20px;
}

.features__left h3,
.features__right h3 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.features__left p,
.features__right p {
  font-size: 16px;
  line-height: 24.5px;
  margin-bottom: 16px;
  color: #5a5a5a;
}

.features__left ul {
  list-style: none;
}

.features__left li {
  margin: 15px 0;
}

.features__left li a {
  text-decoration: none;
  font-weight: 700;
  color: #2c3038;
}

.features__left a i {
  color: #dc4f72;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 0.6;
}

/* BLOGSINGLE.HTML */

.text {
  max-width: 750px;
  margin: auto;
}

.blogsingle__title .text h2 {
  font-size: 45px;
  line-height: 50px;
  color: #2c3038;
  margin: 15px 0;
  font-weight: 700;
}

.blogsingle__title ul {
  list-style: none;
}

.blogsingle__title li {
  display: inline-block;
  padding-right: 10px;
}

.grid-d {
  display: grid;
  grid-template-columns: 100%;
}

.blogsingle__text {
  color: #2c3038;
  max-width: 750px;
  margin: auto;
  padding-top: 17px;
}

.blogsingle-col {
  max-width: 750px;
  margin: auto;
}

.blogsingle2 .blockquote {
  background-color: #f7f9fc;
  border-left: 3px solid #5a5a5a;
  padding: 25px 25px 45px;
}

.blogsingle2 q {
  font-size: 24px;
  line-height: 36px;
  color: #2c3038;
}

.blockquote-footer {
  color: #6c757d;
  font-size: 16px;
}

.blogsingle3 h4 a {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  margin: 25px 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.blogsingle3 h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #5a5a5a;
  margin-bottom: 40px;
  font-style: italic;
}

.text-p {
  font-size: 15px;
  line-height: 24.5px;
  color: #5a5a5a;
}

.post__navigation {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.postview1 {
  display: grid;
  grid-template-columns: 23% 77%;
  gap: 4%;
  align-items: center;
  padding: 15px 0;
}

.postview2 {
  display: grid;
  grid-template-columns: 77% 23%;
  gap: 4%;
  align-items: center;
  padding: 15px 0;
}

.postview1 a,
.postview2 a {
  text-decoration: none;
  color: #2c3038;
  font-weight: 600;
}

.postview1 a img,
.postview2 a img {
  border-radius: 6px;
}

.blog__comment {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 30px;
  gap: 20px;
}

.comment__img {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f3f6f9;
}

.comment__right {
  flex: 1;
}

.blogsingle4 h3 {
  font-size: 35px;
  font-weight: 600;
  color: #2c3038;
}

.blog__comment .comment__right h5 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  font-weight: 600;
}

.blog__comment .comment__right span {
  font-size: 15px;
  line-height: 20px;
  color: #ababab;
  margin-top: 5px;
  display: inline-block;
}

.blog__comment .comment__right p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 22.4px;
}

.blog__comment .comment__right a.rely {
  font-size: 13px;
  color: #dc4f72;
}

/* SƯƠNG */

/* .container{
    width: 80%;
    margin: 50px auto;
    padding: 100px 0;
} */

/* ABOUT1 */
.about1 {
  width: 80%;
  margin: 120px auto 40px;
}

.about1__content h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.about1__item h3 {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 44px;
}

.about1__item li {
  list-style: none;
  line-height: 30px;
}

.about1__item li i {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 10px;
  color: #dc4f72;
  background-color: rgba(220, 79, 114, 0.1);
  font-size: 10px;
}

.about1__item img {
  width: 100%;
  transition: all 0.5s;
  transform: translateY(0);
}

.about1__item:hover img {
  transform: translateY(-10px);
}

/* ABOUT 2 */
.about2 {
  width: 80%;
  margin: auto;
}
.about2__item h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.about2__item p {
  font-size: 1rem;
  line-height: 25px;
}

/* FEATURES */
.feature {
  width: 80%;
  margin: 50px auto;
  height: 650px;
}

.feature__item {
  /* margin-right: 10px; */
  /* padding: 15px; */
  border-radius: 6px;
  padding: 3rem 2rem;
  background-color: white;
  border: 1px solid #f7f9fc;
  transition: 0.3s ease-in;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.09);
}

.feature__item i {
  width: 70px;
  height: 70px;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #dc4f72;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #dc4f72;
  transition: all 0.3s ease;
  animation: 0.5s linear;
  transform: translateY(0);
}

.feature__item:hover i {
  transform: translateY(-50px);
}

.feature__item h4 {
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.3s ease;
  animation: 0.5s linear 1s;
  transform: translateY(0);
}

.feature__item:hover h4 {
  transform: translateY(-40px);
}
.feature__item a {
  color: #cf2952;
  opacity: 0;
  transition: all 0.5s ease;
  animation: 0.5s;
  transform: translateY(0);
}
.feature__item:hover a {
  opacity: 1;
  transform: translateY(-20px);
  color: #cf2952;
  font-weight: 700;
}
.feature__item p {
  opacity: 0;
  transition: all 0.5s ease;
  animation: 0.5s;
}

.feature__item:hover p {
  opacity: 1;
  transform: translateY(-20px);
}

/* CREATIVE */
.creative__video {
  position: relative;
}

.creative__video .play-icon {
  position: absolute;
  top: 270px;
  left: 510px;
  font-size: 1rem;
  color: #dc4f72;
  background-color: white;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  /* transition: 0.3s ease-in-out; */
  animation: ripple 1s linear infinite;
}

.creative__video img {
  transition: all 0.5s;
  transform: translateY(20px);
}

.creative__video img:hover {
  transform: translateY(0);
  /* transition: 0.3s ease-in-out; */
}

/* Styles for dialog window */
#small-dialog,
#small-dialog1 {
  padding: 2em;
  text-align: left;
  max-width: 800px;
  margin: auto;
  position: relative;
  text-align: center;
}

a.play-icon.popup-with-zoom-anim img:hover {
  opacity: 0.5;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.95;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-content iframe {
  width: 100%;
  min-height: 370px;
  border: none;
}

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  background: #fff;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 23px;
  height: 30px;
  line-height: 25px;
  position: absolute;
  right: 30px;
  top: -10px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white !important;
  font-style: normal;
  font-size: 30px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
  background: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.login h3,
.signup h3 {
  margin: 1em 0;
  color: #a63d56;
}

.login input[type="text"],
.login input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 3px 0;
  border: 1px solid #a63d56;
  outline: none !important;
}

.signup input[type="text"] {
  width: 44.5%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}

.signup input.email[type="text"],
.signup input[type="password"] {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  outline: none;
  background: #ebebeb;
  border: solid 1px #222;
}

.login input[type="submit"],
.signup input[type="submit"] {
  background: #347083;
  border: 0px;
  padding: 5px 10px;
  margin: 10px 10px;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 17%;
  -webkit-appearance: none;
}

.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
  background: #163035;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media all and (max-width: 568px) {
  #small-dialog,
  #small-dialog1 {
    max-width: 425px;
  }
}

@media all and (max-width: 480px) {
  .comments-area textarea {
    height: 100px;
  }

  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 14px;
    width: 20%;
  }

  .mfp-close {
    left: 0;
  }

  #small-dialog,
  #small-dialog1 {
    max-width: 445px;
  }
}

@media all and (max-width: 414px) {
  #small-dialog,
  #small-dialog1 {
    padding: 1.5em;
  }
}

@media all and (max-width: 375px) {
  #small-dialog h2,
  #small-dialog1 h2 {
    font-size: 1.5em;
  }
}

@media all and (max-width: 320px) {
  .comments-area span.label,
  .comments-area span.text-field {
    float: none;
    width: 100%;
  }

  .comments-area span {
    padding-bottom: 3px;
  }

  .comments-area input[type="text"],
  .comments-area textarea {
    width: 92%;
  }

  .comments-area div {
    padding: 2px 0;
  }

  .mfp-content iframe {
    width: 100%;
    min-height: 250px;
  }

  .login input[type="submit"],
  .signup input[type="submit"] {
    font-size: 12px;
    width: 29%;
  }

  .signup input[type="text"] {
    width: 90%;
  }

  .mfp-close {
    right: 2px;
    top: -30px;
  }
}

.creative__quote button {
  margin: 30px auto;
  border: 1px solid transparent;
}

/* CUSTOMER  */
.customer__item img {
  filter: grayscale(1);
  transition: all 2s;
  padding: 20px;
}

.customer__item img:hover {
  filter: saturate(100%);
}

/* MEMBER  */

.member__item {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.member__img h5 {
  text-decoration: none;
  color: black;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

.member__img p {
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin: 2px 0px 14px;
}


/* PAGECAROUSEL */
.pageCarousel__content {
  position: relative;
}
.pageCarousel .date {
  position: absolute;
  top: 0;
  left: 420px;
  /* left: 0; */
  background-color: #dc4f72;
  padding: 15px;
  color: white;
  font-weight: 700;
}
.pageCarousel__pro {
  color: green;
  padding: 5px 15px;
  background: rgba(0, 128, 0, 0.308);
  border-radius: 15px;
}
.pageCarousel__info h4 {
  font-size: 2rem;
  font-weight: 700;
}
.pageCarousel__read {
  color: #cf2952;
}


.numberpage a,
.numberpage span {
  color: #0b0b0b;
}
.numberpage ul a:hover {
  color: #dc4f72;
  border: 1px solid #cf2952;
  border-radius: 5px;
  background-color: white;
}
#numberpage__page1{
  color: #cf2952;
  border: 1px solid #cf2952;
  border-radius: 5px;
}

/* MASSAGE  */

.message__right {
  height: 600px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border: rgb(244, 237, 237);
  
}

.message__right input{
  padding: 10px 300px 10px 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(171, 171, 171, 0.219);
  border-radius: 5px;
  outline: none;
  
}
.message__right input:hover{
  border: 1px solid #da1a4a;
  border-radius: 5px;
  outline: none;
  transition: all .5s;
  
}
.message__right h5{
  font-size: 2.5rem;
  font-weight: bolder;
}

.message__right a{
  text-align: right;
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  padding: 15px 50px;
  color: white;
  opacity: .9;
  display: inline;
  text-align: end;
}
.message__right a:hover{
  opacity: 1;
  border: 1px solid #f71f55;
  background-color: #da1a4a;
  color: white;

}
.message__content .message__text {
  padding-bottom: 7rem;
  margin-bottom: 2rem;
}
.message__content a{
  text-align: end;
  transition: all .5s;
}

/* TOUCH */
.touch i{
  font-size: 1rem;
  background-color: rgba(220, 79, 114, 0.329);
  padding: 20px;
  border-radius: 50%;
  color: #da1a4a;
}
.touch a{
  color: #0b0b0b;
}
.block-col1 {
  padding: 15px;
  border-radius: 6px;
  padding: 3rem 2rem;
  background-color: #f7f9fc;
  border: 1px solid #f7f9fc;
  transition: 0.3s ease-in;
}

.block-col1:hover {
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-8px);
}
.block-col1 a:hover{
  color: #dc4f72;
}

/* MAP  */
.mapcontact iframe{
  width: 100%;
  height: 400px;
  display: block;
  padding: 20px;
}